* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  text-shadow: 0px 0px 3px, 0px 0px 12px #f3ecec;
  background: #1d0000;
  color: #151713;
}

/* Text */
h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

h1 {
  color: #d3f708;
  font-weight: 500;
}

h2 {
  color: solid #440303;
  letter-spacing: 4px;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: #fff;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: #e8f0f0;
  transition: ease;
}

a:hover {
  color: #3a1aee;

  border: 3px solid #09d491;
}

.name,
.weather {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.name {
  font-weight: 700;
  font-size: 1.1rem;
}

.current-weather {
  font-weight: 300;
  font-size: 0.8rem;
}

.current-date {
  font-weight: 300;
  font-size: 0.8rem;
}

#celsius,
#fahrenheit {
  color: #151713;
  cursor: pointer;
}

#celsius:hover,
#fahrenheit:hover {
  color: #fff;
}

.slash {
  padding: 0 2px;
}

/* Layout */
.app {
  width: 80%;
  max-width: 900px;
  margin: 50px auto;
}

.journal_container {
  margin: 1em;
  display: grid;
}

.details,
.return {
  border: 1px solid #151713;
  background: #c57110;
  border-radius: 1em;
  padding: 0.4em;
}

/* Form */
input,
textarea {
  display: block;
  margin: 1em 0;
  padding: 13px;
  width: 100%;
  border-radius: 30px;
  outline: none;
  background: #fff;
}

::placeholder {
  font-size: 0.7rem;
  font-family: "Roboto Mono", monospace;
}

.send {
  text-align: center;
}

/* Journal */
.return {
  position: relative;
  background: #b9f8b8;
}

.date,
.location,
.weather {
  text-align: center;
}

.icon {
  width: 5em;
}

.space {
  visibility: hidden;
}

.temp {
  display: flex;
  justify-content: center;
}

.content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1em;
}

/* Footer */
footer {
  text-align: right;
  font-size: 1em;
  margin: 5em;
  color: #fff;
}

/* Generate button */
#generate {
  background: #fff;
  border: 2.5px solid black;
  border-radius: 3px;
  padding: 0.4em 3.5em;
}

/* Media Query */
@media (max-width: 768px) {
  .app {
    max-width: 450px;
  }
}
